.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 24px;
}

.deductify-logo {
  display: block;
}

.deductify-logo img {
  height: 7rem;
  padding: 1rem;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: 5rem;
  margin-top: -1rem;
}

.nav-list li {
  position: relative;
  margin-left: 4rem;
}

.nav-list li a {
  color: green;
  text-decoration: none;
}

.active {
  display: flex !important;
}

.nav-list li a:hover {
  color: gold;
}

.nav-list li a.active {
  color: green;
  text-decoration: underline;
}

.sub-nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1; /* Ensure sub-nav is fully visible */
  visibility: visible; /* Ensure it's visible */
}

.sub-nav a {
  margin-right: 1rem;
  color: green;
  text-decoration: none;
}

/* Change sub-nav hover color to gold */
.sub-nav a:hover {
  color: gold;
}

/* Active link style in sub-nav */
.sub-nav a.active {
  color: green; /* Text color when active */
  text-decoration: underline; /* Green underline for active sub-nav items */
}

/* Ensure sub-nav doesn't hide until explicitly told */
.nav-item:hover .sub-nav,
.nav-item:active .sub-nav {
  display: flex;
}
