.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 24px;
}

.deductify-logo {
  display: block;
}

.deductify-logo img {
  height: 7rem;
  padding: 1rem;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: 2rem;
  margin-top: -2rem;
}

.nav-list li a {
  color: green !important;
  text-decoration: none;
}

.nav-list li a:hover {
  color: gold !important;
}

.nav-list li a.active {
  color: gold !important;
}

.main-nav li {
  margin-left: 4rem;
}

.sub-nav {
  font-size: 18px;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  position: absolute;
  right: 35%;
}

.sub-nav a {
  text-decoration: none;
  color: green;
}

.sub-nav a.active {
  text-decoration: underline;
  color: green;
}

.sub-nav li.active > a {
  text-decoration: underline;
  color: green;
}